:root {
	--primary-color: rgb(237, 211, 10);
  }
  
  *,
  *::before,
  *::after {
	box-sizing: border-box;
  }
  
  body {
	font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	display: grid;
	background: linear-gradient(to right, #070739, #521477);
	place-items: center;
	min-height: 100vh;
  }
  /* Global Stylings */
  label {
	display: block;
	margin-bottom: 0.5rem;
  }
  
  input {
	display: block;
	width: 100%;
	padding: 0.75rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
  }


  .heading{
   font-size: 5rem;
  }
  /* Progressbar */
  .progressbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	counter-reset: step;
	margin: 2rem 0 4rem;
  }
  
  .progressbar::before,
  .progress {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	background-color: #dcdcdc;
	z-index: -1;
  }
  
  .progress {
	background-color: var(--primary-color);
	width: 0%;
	transition: 0.3s;
  }
  
  .progress-step {
	width: 2.1875rem;
	height: 2.1875rem;
	background-color: #dcdcdc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .progress-step::before {
	counter-increment: step;
	content: counter(step);
  }
  
  .progress-step::after {
	content: attr(data-title);
	position: absolute;
	top: calc(100% + 0.5rem);
	font-size: 0.85rem;
	color: #666;
  }
  
  .progress-step-active {
	background-color: var(--primary-color);
	color: #000;
  }
  
  /* Form */
  .form {
	margin: 0 auto;
	padding: 1.5rem;
  }
  
  .form-step {
	display: none;
	transform-origin: top;
	animation: animate 0.5s;
  }
  
  .form-step-active {
	display: block;
  }
  
  .input-group {
	margin: 2rem 0;
  }
  .btn-outline-warning{
	font-size: 2rem;
  }
  @keyframes animate {
	from {
	  transform: scale(1, 0);
	  opacity: 0;
	}
	to {
	  transform: scale(1, 1);
	  opacity: 1;
	}
  }
  
  /* Button */
  .btns-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
  }
  

  @media (max-width:600px) {
	  .col-lg-4{
   width: 80%;
  }
	  
  }

  
  @media (max-width:500px) {
	.col-lg-4{
 width: 100%;
}
	
}